shellingham==1.5.4
hf-xet==1.5.1
black==26.5.1
strictyaml==1.7.3
ml_dtypes==0.5.4
pampy==0.3.0
aiohappyeyeballs==2.6.2
threadpoolctl==3.6.0
umap-learn==0.5.12
xxhash==3.7.1
rich==14.3.4
pexpect==4.9.0
pandas==2.2.3
Pympler==1.1
msgpack==1.2.1
wcwidth==0.8.1
update_checker==1.0.0
toolz==1.1.0
transformers==5.0.0rc3
aioitertools==0.13.0
multidict==6.7.1
nest-asyncio==1.6.0
pydantic_core==2.46.4
pyro-ppl==1.9.1
torchmetrics==1.9.0
lightning-utilities==0.15.3
jedi==0.20.0
asttokens==3.0.1
numba==0.65.1
tzdata==2026.2
optax==0.2.8
scanpy==1.12.1
ptyprocess==0.7.0
importlib_resources==7.1.0
wandb==0.28.0
traitlets==5.15.1
botocore==1.42.90
matplotlib==3.11.0
overrides==7.7.0
sentry-sdk==2.63.0
mmh3==5.2.1
python-dateutil==2.8.2
click==8.4.2
protobuf==7.34.1
pytokens==0.4.1
docrep==0.3.2
fs==2.4.16
zarr==3.2.1
executing==2.2.1
tensorstore==0.1.84
requests==2.34.2
narwhals==2.22.1
opt_einsum==3.4.0
yarl==1.24.2
statsmodels==0.14.6
SQLAlchemy==2.0.51
etils==1.14.0
scvi-tools==0.20.3
openpyxl==3.1.5
absl-py==2.4.0
natsort==8.4.0
asn1crypto==1.5.1
networkx==3.6.1
leidenalg==0.12.0
numpy==2.1.0
session-info2==0.4.1
pytest-cov==7.1.0
scikit-learn==1.9.0
websocket-client==1.9.0
contourpy==1.3.3
seaborn==0.13.2
lazy-loader==0.5
plotly==5.24.1
anyio==4.14.1
propcache==0.5.2
texttable==1.7.0
mudata==0.3.8
GitPython==3.1.50
matplotlib-inline==0.2.2
pillow==12.2.0
et_xmlfile==2.0.0
scverse-misc==0.1.1
kiwisolver==1.5.0
coverage==7.14.3
isort==5.13.2
typing_extensions==4.14.1
packaging==26.2
jax==0.10.2
pytz==2026.2
zstandard==0.25.0
pytest-timeout==2.4.0
filelock==3.29.4
ipython_pygments_lexers==1.1.1
mdit-py-plugins==0.6.1
chex==0.1.92
platformdirs==4.10.0
tenacity==9.1.4
jaxlib==0.10.2
anndata==0.12.18
aiofiles==25.1.0
prompt_toolkit==3.0.52
aiohttp==3.14.1
httpcore==1.0.9
typer-slim==0.24.0
appdirs==1.4.4
fonttools==4.63.0
llvmlite==0.47.0
ImageIO==2.37.3
legacy-api-wrap==1.5
bidict==0.22.0
stack-data==0.6.3
jmespath==1.1.0
sympy==1.14.0
grpclib==0.4.9
wordcloud==1.9.3
multiprocess==0.70.16
prawcore==2.4.0
safetensors==0.8.0
ipython==8.39.0
wrapt==1.17.3
loguru==0.7.3
certifi==2026.6.17
numpyro==0.21.0
tqdm==4.68.3
pyarrow==23.0.1
uc-micro-py==2.0.0
h11==0.16.0
gitdb==4.0.12
google-crc32c==1.8.0
smmap==5.0.3
iniconfig==1.1.1
Pygments==2.20.0
cachetools==6.2.6
scgpt==0.2.4
scib==1.1.7
mdurl==0.1.2
setuptools==80.10.2
patsy==1.0.2
mpmath==1.3.0
torch==2.3.0
PyYAML==6.0.3
regex==2026.5.9
orbax-checkpoint==0.12.1
pg8000==1.31.5
textual==8.2.8
simplejson==4.1.1
ruff==0.14.7
tzlocal==2.1
pybase64==1.3.2
pytorch-lightning==1.9.5
torchtext==0.18.0
pyiceberg==0.11.1
frozenlist==1.8.0
hpack==4.2.0
aiosignal==1.4.0
zipp==4.1.0
joblib==1.5.3
dcor==0.7
boto3==1.42.90
cycler==0.12.1
scipy==1.18.0
treescope==0.1.10
Jinja2==3.1.6
pyparsing==3.3.2
pyroaring==1.1.0
charset-normalizer==3.4.7
cached-property==2.0.1
markdown-it-py==4.2.0
pytest==9.0.3
dill==0.3.8
MarkupSafe==3.0.3
multipledispatch==1.0.0
pure_eval==0.2.3
pytest-reraise==2.1.2
s3fs==2026.6.0
aiobotocore==3.7.0
pluggy==1.6.0
fsspec==2026.6.0
attrs==26.1.0
pathspec==1.1.1
linkify-it-py==2.1.0
pydantic==2.13.4
flax==0.12.7
tifffile==2026.6.1
pip==26.1.2
fast-array-utils==1.4.1
pydot==4.0.1
pynndescent==0.6.0
urllib3==2.7.0
httpx==0.28.1
donfig==0.8.1.post1
h2==4.3.0
readerwriterlock==1.0.9
s3transfer==0.16.1
prometheus_client==0.25.0
scramp==1.4.9
decorator==5.3.1
ml_collections==1.1.0
Deprecated==1.2.14
array-api-compat==1.15.0
tokenizers==0.22.2
uvloop==0.22.1
scikit-misc==0.5.2
psutil==7.2.2
pyro-api==0.1.2
typer==0.25.1
parso==0.8.7
praw==7.6.1
idna==3.18
typing-inspection==0.4.2
huggingface_hub==1.20.1
annotated-types==0.7.0
numcodecs==0.16.5
humanize==4.15.0
igraph==1.0.0
betterproto==2.0.0b7
mypy_extensions==1.1.0
scikit-image==0.25.2
six==1.17.0
datasets==2.21.0
orbax==0.1.7
hyperframe==6.1.0
h5py==3.16.0
cell-gears==0.0.2
annotated-doc==0.0.4
tomli==2.4.0
more-itertools==10.8.0
jaraco.text==4.0.0
platformdirs==4.4.0
wheel==0.46.3
autocommand==2.2.2
importlib_metadata==8.7.1
backports.tarfile==1.2.0
jaraco.functools==4.4.0
jaraco.context==6.1.0
packaging==26.0
zipp==3.23.0
